/.project
/.settings/
/.idea
/.vscode/
/deploy
/target
/build/
/**/.idea
*.iml
out/

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr
logs/osms.log
monitoring/gradlew.bat
monitoring/gradle/wrapper/gradle-wrapper.jar
monitoring/gradle/wrapper/gradle-wrapper.properties
gradle-wrapper.jar
